.header-content {
  color: #000;
  text-align: center;
  & .header-para {
    width: 60%;
  }
  &.header-heading,
  .header-para {
    margin: 30px auto;
  }
}

.grid-block {
  & .box {
    &:hover {
      box-shadow: 0 0 5px 0px;
    }
  }
}
.grid-block3 {
  & .content-box {
    grid-template-columns: repeat(3, 1fr);
    & .box {
      border-radius: 10px;
    }
  }
}
.grid-block2 {
  & .content-box {
    grid-template-columns: repeat(2, 1fr);
    & .box {
      display: grid;
      grid-template-columns: 60px 1fr;
      & .user-detail {
        display: grid;
        grid-template-columns: auto;
      }
    }
  }
}

.content {
  text-align: center;
  & .box {
    padding: 5px;
    background-color: #3280c0;
    border-radius: 10px;
  }
}
.content-1 {
  .box {
    & h4 {
      padding-top: 5px;
    }
  }
}
.content-2 {
  & .box {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(50, 128, 192, 0.75);
      border-radius: 10px;
    }

    & h3 {
      transform: translateY(calc(0% - -100px));
      font-size: 15px;
      opacity: 0.5;
    }
    &:hover h3 {
      transform: translateY(calc(0% - 0px));
      transition: 0.6s;
      font-size: 22px;
      opacity: 1;
    }
  }
}
.content-3 {
  & .box img {
    width: 100%;
    border-radius: 10px;
  }
  & .box {
    padding: 0px;
    text-align: left;
    background-color: transparent;
    &:hover {
      box-shadow: none;
    }
    & h4,
    & p {
      padding: 5px;
    }
  }
}

.content-4 {
  & .box {
    & .user-img img {
      width: 50px;
      border-radius: 50%;
    }
    & .user-detail {
      text-align: left;
      & .user-star p {
        display: inline;
      }
    }
  }
}
.content-5 {
  margin: 20px 0;
  & .contact-img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    & .contact-detail {
      text-align: center;
      & .contact-heading {
        color: #fff;
      }
    }
  }
  &:hover {
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
  }
}

/*----------------------------------*/
@media (min-width: 1081px) {
  .grid-block3 {
    display: grid;
    &.content-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
/*----------------------------------*/
@media (min-width: 768px) and (max-width: 1080px) {
  .grid-block3 {
    &.content-box {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .content-2 {
    & .box {
      height: 400px;
    }
  }
}
/*----------------------------------*/
@media (min-width: 481px) and (max-width: 767px) {
  .header-content {
    margin-top: 50px;
    & .header-para {
      width: 80%;
    }
  }
  .grid-block3 {
    &.content-box {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .content-2 {
    & .box {
      height: 300px;
    }
  }
}
/*----------------------------------*/
@media (max-width: 480px) {

  .grid-block3 {
    grid-template-rows: repeat(2, 1fr);
    & .content-box {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }
  .grid-block2 {
    grid-template-rows: repeat(2, 1fr);
    & .content-box {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      & .box {
        grid-template-columns: 1fr;
      }
    }
  }
  .content-2 {
    & .box {
      width: 100%;
      height: 300px;
    }
  }
  .header-btn {
    width: 175px;
  }
}
